<!DOCTYPE html>
<html>
<head>
<title>vue练习</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
</head>
<body>
	<h1>学习vue.js</h1>
	<div id="message">{{helloWorld}}</div> 
	<div id="now">
		<span v-bind:title="title">鼠标悬停此处几秒， 可以看到此处动态绑定的 title！</span>
	</div>
	<div id="demo-3"> 
	 <span v-if="seen">现在你能看见我</span>
	</div>
	<div id="demo-4"> 
	 <ol>
	  <li v-for="user in users">  
	   {{user.text}}
	  </li>
	 </ol>
	</div>
    <div id="demo-5">  
	 <p>{{message}}</p>
	 <p>{{joke}}</p>
	 <button v-on:click="reverseMessage">点击翻转</button>
	</div>
	<div id="demo-6">  
	 <p>{{message}}</p>
	 <input v-model="message" />
	</div>
	<!--                     component                         -->
	<!-- <div id="demo-7">
	<ol>
		<todo-item ></todo-item>
	</ol>
	</div> -->
	<div id="demo-8">
	<ol>
		<todo-item v-for="item in items" v-bind:todo="item" v-bind:key="item.id"></todo-item>
	</ol>
	</div> 
	<div id="demo-9">
	 <p>等待翻转的字符串{{message}}</p>
	 <p>翻转之后的字符串{{}}</p>
	</div>
















</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./vueDemo.js"></script>
</html>